<div class="row">
  <h3>{{ eventName }}</h3>
</div>

<div class="row button-set">
  <div class="col-xs-12">
    <button [disabled]="!userCanEdit" (click)="onAutoShuffle()" class="btn btn-primary">Auto-Shuffle</button>
    <button [disabled]="!userCanEdit" (click)="onAutoSortRemaining()" class="btn btn-primary">Auto-Sort Remaining</button>
    <button [disabled]="!userCanEdit" (click)="onAllToUnassigned()" class="btn btn-primary">All to Unassigned</button>
  </div>
</div>

<div class="row" cdkDropListGroup>
  <div *ngFor="let team of teams; let i = index" class="col-sm-4">
    <!-- <app-group [currentGroup]="team.roster" [teamName]="team.name" style="display: inline-block; margin: 10px 10px 0 0; width: 100%;"></app-group> -->

    <div class="card">
      <div class="card-header">
        {{ team.name }}
      </div>
      <ul
      cdkDropList
      [cdkDropListData]="teams[i].roster"
      class="list-group list-group-flush"
      style="min-height: 20px;"
      (cdkDropListDropped)="drop($event)">
        <li
        class="list-group-item"
        style="cursor: move;"
        *ngFor="let item of teams[i].roster"
        cdkDrag>
          {{item}}
        </li>
      </ul>
    </div>

  </div>
</div>
