<div class="row">
  <h3>{{ eventName }}</h3>
</div>
<div class="row">
  <div *ngFor="let team of teams" class="col-sm-4">
    <app-group [currentGroup]="team.group" [teamName]="team.name" style="display: inline-block; margin: 10px 10px 0 0; width: 100%;"></app-group>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button [disabled]="!userCanEdit" class="btn btn-primary">Auto-Shuffle</button>
    <button [disabled]="!userCanEdit" class="btn btn-primary">Auto-Sort Remaining</button>
  </div>
</div>
