<form style="max-width: 500px" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <button type="submit" class="btn btn-primary">
    Shuffle
  </button>
  <div class="form-group">
    <label for="numberOfTeams">Teams</label>
    <input
      style="max-width: 75px"
      type="number"
      class="form-control"
      id="numberOfTeams"
      #teams
      name="teams"
      ngModel
      [ngModel]="teamsDefault"
    />
  </div>
  <div class="form-group">
    <label for="players">Players</label>
    <textarea
    id="players"
    rows="10"
    class="form-control"
    #players
    name="players"
    ngModel
    [ngModel]="playersDefault"></textarea>
  </div>
</form>
